<h1><b>Please Fill In Your Username And Password To Sign Up</b></h1>
<br>
<br>
<%=render "shared/errors" %>
	<form action="<%=users_url%>" method="POST">
		<label for="username">Username</label>
		<input type="text" name="user[user_name]" value="<%=@user.user_name%>" id="username">
		<br>
		<br>
		<label for="password">Password</label>
		<input type="password" name="user[password]" value="<%=@user.password%>" id="password">
		<br>
		<br>
		<button>Make a new account!</button>
	</form>
