<h1>Create Band</h1>
<form action="<%=bands_url%>" method="post">
	<label for="band_name">Name</label>
	<input type="text" name="band[name]" value="<%= @band.name %>"
	       id="band_name">
	<button>Create Band</button>
</form>
